{{!-- The following component displays Ember's default welcome message. --}}

{{!-- {{welcome-page}} --}}
{{!-- Feel free to remove this! --}}

<div class="ui container">
    <div class="ui centered grid">
        <div class="row"></div>
        <div class="row"></div>
        <div class="row"></div>
        <div class="row">
            <a href="https://github.com/wecatch/china_regions" class="ui large green button">Github</a>
            <a href="http://wecatch.me/" class="ui large green button">Wecatch</a>
        </div>
        <div class="row"></div>
        <div class="row"></div>
        <div class="row">
            {{#region-show}}{{/region-show}}
        </div>
    </div>
</div>
<div class="ui text container">
    <p style="text-align:center;margin-top:250px;border-top:1px solid #eee;padding-top:1.1429em;" >
        Powered by <a href="http://wecatch.me">wecatch</a>
    </p>
</div>
